/* Fontes */
@font-face {
    font-family: roboto-black;
    src: url("../fonts/Roboto-Black.ttf");
}
@font-face {
    font-family: roboto;
    src: url("../fonts/Roboto-Regular.ttf");
}
p, li, a, td {
    font-family: roboto;
}
h2, h3, h4{
    font-family: roboto-black;
    font-size: 35px;
    color: #31405d;
}

body {background-image: url('../objetos/textura_background.png');}

/* Tags basicas */
html, body { height: 100%; margin:0; padding:0; font-size: 16px;}
a, a:hover, a:active, a:visited{text-decoration: none;color:#000}
/*
.row{
    
}
*/
.container-first {
    margin-top: 205px;
}

.gif {
    width: 50%;
    cursor: pointer;
}

.bloco{
    max-width: 990px;
}

/* Nav Buttons */


.nav-buttons-row {
    width: 100%;
    display: flex;
    justify-content: center;
}

.nav-buttons {
    
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-btn {
    margin-right: 0.8em;
    width: 145px;
    height: 63px;
    border-radius: 10px;
    color: white;
    text-align: center;
    padding: 0;
}

.nav-btn img {
    width: 145px;
    height: 63px;
}

.hover-scale {
    transition-duration: .5s;
}

.hover-scale:hover{
    transform: scale(1.1);
    transition: all .5s;
    cursor: pointer;
}
.hover-opacity:hover{
    opacity: 0.7;
    transition: all .5s;
    cursor:pointer;
}

.nav-btn:hover {
    background-color: rgba(43, 63, 147, .6);
    color: white;
    transition-duration: .3s;
}

/* Telas */
.tela{
    width: 100%;
    min-height: 80vh;
    height: 100%;
    outline : none;
    overflow: hidden;
}
.tela1 {
    background-image: url(../objetos/textura_background.jpg);    
    padding-bottom: 50px;
}
.tela2 {
    margin-top: 3em;
    background-color: #007798;
}
.tela2 p {
    color: white;
}
.tela2 h3 {
    color: #659B7B;
}
.tela2 li {
    color: white;
}
.tela3 {
    background-color: #ffffff;
}
.container-fluid {
    padding-right: 0;
    padding-left: 0;
}

/* Menu */
.menu{
    width: 100%;
    height: 130px;
    font-size: 0.6em;
    position: fixed;
    top: 80px;
    z-index: 99;
    background-color: rgba(255,255,255,1);
}
.menu-mob {
    background-color: #ffffff;
    width: 100%;    
    border-bottom: 1px solid #e2e2e2;
    margin-top: 80px;
}
.menu-mob .cabecalho {
    display: flex;
    justify-content: space-between;
    padding: 1em;
}
.menu-bt{
    width: 39px;
    height: 39px;
    left: 5px;
    top: 5px;
    background-image: url(../objetos/ico_menu.png);
    cursor:pointer;
}
.menu-aberto{
    padding: 1em;
    background-color: #ffffff;
    width: 100%;
    height: auto;
    z-index: 99999;
    border-bottom: 1px solid #4D76AF;
    display: none;
}
.menu-aberto a {
    display: block;
    margin-bottom: 1em;
    text-decoration: underline;
}
.ativo{
    display: block;
}
.menu .cabecalho {
    width: 960px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2em 0;
    margin-bottom: 15px;
}
.titulo-curso{
    margin: 0;
    color: #007798 !important;
    font-size: 2.2em;
    transition-duration: .3s;
}
.titulo-curso:hover {
    text-decoration: underline;
    transition-duration: .3s;
}
.logo{
    background-image: url(../objetos/logo_cores.png);
    background-size: 100%;
    background-repeat: no-repeat;
    width: Calc(200px * 1.25);
    height: Calc(41px * 1.25);
}
.linha{
    width: 100%;
    height: 2px;
    background-color: #d9ddde;
    position: absolute;
    top: 42px;
    left: 0;
    z-index: -1;
}
.dot{
    height: 25px;
    width: 25px;
    background-color: white;
    border: 3px solid #d9ddde;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
}
.ativo .dot{
    background-color: darkgray;
}
.item:hover > .dot{
    background-color: darkgray;
}
.itens .item:hover , .item.ativo{
    font-weight: 600;
    outline: none;
}
.itens{
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 42px;
    display: flex;
    justify-content: space-around;
}
.item{
    max-width: 20%;
    cursor: pointer;
    font-size: 16px;
    font-family: roboto;
    font-weight: lighter;
    text-align: center;
    padding-left: 5px;
    padding-right: 5px;
    outline:none;
}

/*pra arrumar no titulo grande*/
.grupo-imprimir{margin-top: 20px;}
.item{
    margin-top: -12px;
}
.item.active {font-family: roboto-black;}
.item.active .dot{background-color: #d9ddde;}
.container{
    margin-left: auto;
    margin-right: auto;
    position: relative;
    height: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    display: block;
}
.bt-modal{
    width: 156px;
    height: 71px;
    display: block;
    margin: 20px;
    float: left;
    border: none;
}
.bt-valores{
    background: url('../objetos/btn1.png') no-repeat;
}
.bt-valores:hover{
    background: url('../objetos/btn1_hover.png') no-repeat;
}
.bt-artefatos{
    background: url('../objetos/btn2.png') no-repeat;
}
.bt-artefatos:hover{
    background: url('../objetos/btn2_hover.png') no-repeat;
}
.painel{
    background: url('../objetos/painel_bg.png') no-repeat;
    width: 461px;
    height: 306px;
    margin: 30px auto;
    position: relative;
}
.bt-painel{
    width: 103px;
    height: 108px;
    border: none;
    position: absolute;
    transition-duration: 0.3s;
    transition-property: transform;
}
.bt-painel:hover{
    -webkit-transform: rotate(5deg);
    transform: rotate(5deg);
}
.bt-estrategia{
    background: url('../objetos/paine_btn1.png') no-repeat;
    top: 13px;
    left: 28px;
}
.bt-tecnologia{
    background: url('../objetos/paine_btn2.png') no-repeat;
    width: 206px;
    height: 206px;
    bottom: 0;
    left: 45px;
}
.bt-estrutura{
    background: url('../objetos/paine_btn3.png') no-repeat;
    width: 133px;
    height: 133px;
    top: 60px;
    right: 95px;
}
.bt-pessoas{
    background: url('../objetos/paine_btn4.png') no-repeat;
    right: 0;
    top: 50px;

}
h2{
    font-size: 30px !important;
    font-family: roboto;
    font-weight: black;
    margin-bottom: 15px;
    color: #007798;
}
h2 img {
    margin-right: 0.4em;
}
h3{
    font-size: 26px;
    font-family: roboto;
    margin-bottom: 25px;
    color: #007798;
}
h4 {
    font-family: roboto-black;
    font-size: 1.2em;
    margin-bottom: 2em;
    margin-top: 2.5em;
    color: #007798;
}
.tela2 h4 {
    color: #659B7B;
}
p{
    font-size: 16px;
    font-family: roboto;
    color: #000000;
    line-height: 25px;
    margin-bottom: 20px;
}
ul{
    font-size: 16px !important;
    font-family: roboto;
    line-height: 25px;
    margin-bottom: 20px;
}
li {
    font-family: roboto;
}
.citacao, .caixa-destaque .citacao{
    font-size: 15px;
}
.ilustra-container {
    margin-top: 90px;
}
.ilustra {
    height: 183px;
    width: auto;
}
.blue-list li{
    list-style: disc;
}
.blue-list li::marker {
    color: #007798;
    font-size: 1.5em;
}
.red-list li{
    list-style: disc;
}
.red-list li::marker {
    color: red;
    font-size: 1.5em;
}
li{
    line-height: 30px;
    margin-bottom: 8px;
}
strong{
    font-family: roboto-black;
}

/* modificacoes */
.mb-5 {margin-bottom:5em;}
.mb-4 {margin-bottom:4em;}
.mb-3 {margin-bottom:3em;}
.mb-2 {margin-bottom:2em;}
.mt-5 {margin-top:5em;}
.mt-4 {margin-top:4em;}
.mt-3 {margin-top:3em;}
.mt-2 {margin-top:2em;}
figcaption {
    margin-top: 1em;
}
.caixa-destaque{
	padding:1em;
	margin:0 auto;
	margin-top:2em;
	margin-bottom:2em;
	border-radius:1em;
	font-size:1em;
    background-color: #659B7B;
    border: #007798 dashed 4px;
    position: relative;
}
.tela2 .caixa-destaque {
    background-color: #659B7B;
    border: #007798 dashed 4px;
}
.caixa-destaque-titulo {
	height: 125px;
    margin:0 auto;
	margin-top:2em;
	margin-bottom:2em;
	border-radius:1em;
    background-color: #659B7B;
    border: #007798 dashed 4px;
    display: flex;
    align-items: center;
    position: relative;
}
.caixa-destaque-titulo p {
    margin-left: 160px;
    margin-bottom: 0;
    margin-top: 0;
    color:black;
    font-size: 18px;
}
.caixa-destaque-titulo .icone {
    position: absolute;
    left:-25px;
    top:-30px;
}
.caixa-destaque-titulo .icone-texto {
    position: absolute;
    bottom:-20%;
    left: 50%;
    transform: translateX(-50%);
}
.caixa-destaque p{
	margin-top:0.9em;
	margin-bottom:0.9em;
	font-size: 16px;
    font-family: roboto;
    color: black;
}
.caixa-destaque>ul{
    font-size:inherit !important;
	font-weight: inherit;
}
.caixa-destaque>ol{
    font-size:inherit !important;
	font-weight: inherit;
}
.icone-importante .icone{
	float: left;
    margin-top: -60px;
    margin-left: -60px;
    margin-right: 1em;
}
.icone-importante .icone-texto {
    position: absolute;
    bottom: -9%;
    left: 50%;
    transform: translateX(-50%);
}
.icone-atencao{
	padding-left:140px;
	background-position:10px center;
	background-size:80px 80px;
	background-image:url(../images/atencao.png);
	background-repeat:no-repeat;
    min-height: 5em;
}
.icone-pergunta{
	padding-left:140px;
	background-position:10px center;
	background-size:80px 80px;
	background-image:url(../images/pergunta.png);
	background-repeat:no-repeat;
    min-height: 5em;
}
.icone-play{
	padding-left:140px;
	background-position:10px center;
	background-size:80px 80px;
	background-image:url(../images/play.png);
	background-repeat:no-repeat;
    min-height: 5em;
}
.acessivel{
	width:0;
	height:0;
	padding:0;
	margin:0;
	border:0;
	font-size:0;
	overflow:hidden;
}
.border {
    border: #000 solid 1px;
    padding: 1em;
    border-radius: 5px;
}
.subtitulo {
    margin: 1em 0;
}
.subtitulo img {
    height: 35px;
    margin: 0 0.5em;
}

/* Modais */
.modal-content {
    background-image: url(../objetos/textura_background.jpg);
    color: black;
}
.modal-title {
    margin: 7px;
}
.close {
    font-size: 36px;
    opacity: 1;
    color: white; 
}

@keyframes fromLeft{
    from{
        left: -100%
    }
    to{
        left: 0;
    }
}

/* Modais 100% */
.modal100{   
    overflow-x: hidden;
    padding: 0;
    margin: 0; 
}
.modal100 .modal-dialog{ 
    border-radius: 0; 
    width: 100%;
    margin: 0;
    left: -100%;
    animation-delay: 300ms;
    animation: fromLeft ease-in 1000ms forwards;  
}
.modal100 .modal-dialog .modal-content .modal-header{
    border: 0;
}
.modal100 .modal-dialog .modal-content{
    min-height: 100vh;
}
.modal-nav {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.modal-nav button, .modal-nav a {
    width: 151px;
    height: 48px;
    transition-duration: .3s;
}
.modal-nav-proximo {
    position: relative;
}
.modal-anterior {
    background: url('../objetos/anterior.png') no-repeat;
}
.modal-proximo {
    background: url('../objetos/proximo.png') no-repeat;
    margin-left: 1em;
}
.modal-nav button:hover {
    transition-duration: .3s;
}
.modal100-fechar{
    background-color: transparent;
    border: none;
}
.modal100 .modal-footer{
    border-top-color: transparent;
}
.modal-fechar{
    background-image: url(../objetos/btn_fechar_scroll.png);
    width: 65px;
    height: 65px;
    float: right;
    position: absolute;
    top: 10px;
    right: 10px;
    border-radius: 50%;
}
.btn-fechar-modal-normal{
    background-image: url(../objetos/btn_fechar.png);
    width: 161px;
    height: 65px;
    position: relative;
    border-radius: 10px;
    font-size: 0px;
}
.btn-fechar-modal{
    background-image: url(../objetos/btn_fechar.png);
    width: 161px;
    height: 65px;
    position: absolute;
    top: 10px;
    right: 50px;
    border-radius: 10px;
    font-size: 0px;
}
.btn-topo-modal{
    background-image: url(../objetos/btn_voltar_topo.png);
    width: 141px;
    height: 65px;
    position: absolute;
    top: 10px;
    left: 50px;
    border-radius: 10px;
    font-size: 0px;
}
.modal-obj-flex {
    display: flex;
    flex-direction: column;
}
.modal-obj-flex img {
    width: 350px; 
}
.modal-obj-flex .centralizado p {
    max-width: 350px;
    margin: 1em 2em;
}
.fundo-linhas{
    background-color: #007798;
    color: white;
}
.fundo-branco{
    background-color: #ffffff;
}
.fundo-salmao{
    background-color: #fef3f1;
    padding-top: 200px;
}
.cabecalho-modal{
    width: 100%;
    max-width: 960px;
    height: 100px;
    display: flex;
    justify-content: flex-end;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
}
.tela-modal{
    width: 100%;
    position: relative;
    overflow: hidden;
}
.tela-modal .container {
    margin-top: 0px;
    padding-top: 0px;
}

.panel {
    background: transparent;
}
.panel-body {
    border-top: none !important;
}
.panel .panel-heading {
    background: #007798;
    color: #659B7B;
    border-radius: 10px;
}
.tela2 .panel .panel-heading {
    background: #659B7B;
    color: #007798;
    border-radius: 10px;
}
.tela2 .panel .panel-body p {
    border-left: 2px solid #659B7B;
    padding: 1em;
}
.tela2 .ativo .panel-heading{
    border: 2px solid #659B7B;
    background: transparent;
    color: #333;
}
.tela2 .ativo .panel-title > a {
    color: #659B7B;
}
.panel .panel-title {
    font-size: 1.2em;
}

.ativo .panel-heading{
    background: transparent;
    color: #333;
}
.panel-title > a {
    color: #007798;
}
.panel-title > .collapsed {
    color: #007798;
}

.divisoria-cima {
    margin-top:-100px;
}

.divisoria-baixo {
    margin-bottom: -70px;
}

audio {
    border-radius: 15px;
}

.audio-flex {
    display: flex;
    
    align-items: center;
    
}

.audio-flex button {
    background-color: transparent;
    border: none;
    margin-left: 1em;
}

.audio-flex button img {
    height: 50px;
    width: 50px;
}

.video {
    height: 400px;
    width: 650px;
}

.checklist li{
    background: url(../objetos/marcador_personalizado.png) left top no-repeat;
    padding-left: 40px;
    list-style-type: none;
    background-size: 34px;
}

.painel-abas{
    width: 90%;
    display: block;
    margin: 40px auto;
    float: none;
    clear: both;
}
.tab-content{
    border: 3px solid #007798;
    border-radius: 20px;
    background: #fff;
    padding: 0 30px;
    padding-top: 30px;
    margin-bottom: 30px;
}
.nav-tabs li{
    border: 3px solid #007798;
    border-radius: 15px 15px 0 0;
    background: #fff;
    margin-bottom: -4px;
    margin-left: 30px;
    overflow: hidden;
    z-index: 1;
}
.nav-tabs li.active{
    border-bottom: 3px solid #fff;
}
.nav-tabs{margin-bottom: 0; border-bottom: none;}

.nav-tabs>li>a{
    border: none;
    background: #007798;
    color: white;
    margin: 0;
    outline: none;
}

.tab-content p {
    color: black;
}

.tab-content li {
    color:black;
}

.nav-tabs>li>a:hover{
    background: none;
    border-bottom: 3px solid #fff;
    color: #007798;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover{
    background: none;
    border: none;
    border-bottom: 3px solid #fff;
    color: #007798;
    font-weight: black;
    transition-duration: .3s;
}

.chave-container {
    margin-top: 150px;
}

.w-100 {
    width:100%;
}

.w-100 img {
    max-width: 100%;
}

.w-100 h4{
    padding-left: 19px;
    margin-top: 1em;
    margin-bottom: 0.5em;
}

/* Pergaminhos */
.centralizado-perga {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.perga-abrir {
    position: absolute;
    border: none;
    background-color: transparent;
    left: 50%;
    transform: translateX(-50%);
    width: 73px;
    padding: 0;
}

.perga-fechar {
    position: absolute;
    border: none;
    background-color: transparent;
    left: 50%;
    transform: translateX(-50%);
    width: 73px;
    padding: 0;
}

.pergaminho {
    width: 319px;
}

.scroll-base {
    background-image: url("../objetos/scroll_base.png");
    height: 176px;
    background-repeat: no-repeat;
    width: 317px;
}

.pergaminho-topo {
    background-image: url("../objetos/scroll_repeat.png");
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 317px;
    text-align: center;
}

.pergaminho-topo h4{
    color: #007798;
}

.perga-conteudo p{
    color: black;
}

.pergaminho-topo img {
    height: 170px;
    width: 270px;
}

.perga-conteudo {
    background-image: url("../objetos/scroll_repeat.png");
    padding: 19px;
    width: 317px;
}

.perga-conteudo p {
    font-size: 14px;
    margin-bottom: 10px;
}

.pergaminho h4 {
    margin: 2em 0;
    padding: 0;
}

video {
    width: 100%;
    height: auto;
}

.modal100 img:not(.img-responsive) {
    max-width: 450px;
    height: auto;
}
.modal100 figcaption{
    font-size: 0.9rem;
}

.modal100 h3 img {
    height: 90px;
    margin-right: 0.5em;
}

.audio-img {
    height: 186px;
    width: auto;
    margin-top: 1em;
    margin-bottom: 1em;
}

.audio-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 186px;
    margin-top: 1em;
    margin-bottom: 1em;
}

.audio-container-end {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    height: 186px;
}

.row-audio {
    border-bottom: 2px dashed #283F92;
    margin-bottom: 20px;
}

/*ajustes a partir daqui*/
.container h3{
    font-weight: black;
}

.menu{
    box-shadow: 0 4px 0 0 rgba(0,0,0,0.05);
}

.modal100{
    padding-left: 0 !important;
}

.legenda-imagem{
    font-size: 0.8rem;
    margin-top: 15px;
}
.mw-300{
    width: 100%;
    max-width: 300px !important;
}

.modal-dialog .caixa-destaque{
    width: 90%;
}

.scrollTop {
    z-index: 999;
    position: fixed;
    right: 5%;
    bottom: 20px;
    border-radius: 200px;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    opacity: 0;
    transition: all 0.4s ease-in-out 0s;
    cursor: pointer;
}
.scrollTop img {
    height: 50px;
    width: 50px;
}

.bt-topo{
    background: url('../objetos/bt_topo.png') no-repeat;
    background-size: 100%;
    height: 50px;
    width: 50px;
    display: block;
}
.bt-topo:hover{background-image: url('../objetos/bt_topo_hover.png');}


.carousel{
    max-width: 700px;  
    margin: 40px auto;
    transition: 200ms;
    border: 4px solid #007798;
    box-shadow: 4px 4px 0 rgba(0, 0, 0, .2);
}
.carousel .item{
    width: 100%;
    max-width: 100%; 
    padding: 100px;    
    text-align: left;
    overflow: hidden;
}
.carousel .carousel-control{
    background-color: transparent;
    width: 60px;
    opacity: 1;
}
.carousel .carousel-indicators{
    bottom: 0;
}

.carousel .carousel-control.right, .carousel .carousel-control.left{
    background: transparent;
}

.carousel .carousel-control.right button,
.carousel .carousel-control.left button{
    border: 0;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: absolute;
    top: Calc(50% - 25px);
    background-color: #007798;
    font-size: 40px;
    text-align:center; 
    opacity: .6;
}

.carousel .carousel-control.right button:hover,
.carousel .carousel-control.left button:hover{   
    background-color: #364ea8;
    transform: scale(1.1);
    opacity: 1;
}

.carousel .carousel-control.right button .ico,
.carousel .carousel-control.left button .ico{   
    display: block; 
    line-height: 1;
    position: absolute;
    top: 1px;
    left: 18px;
}
.carousel .carousel-control.right button .ico{
    right: 16px;
    left: initial;
}
.carousel .carousel-control.right button{
    right: 15px;
}
.carousel .carousel-control.left button{
    left: 15px;
}

.carousel .carousel-indicators li {
    display: inline-block;
    width: 15px;
    height: 15px;
    margin: 1px;
    text-indent: -999px;
    cursor: pointer;
    background-color: #007798;
    background-color: rgba(0,0,0,0);
    border: 2px solid #007798;
    border-radius: 10px;
}

.carousel .carousel-indicators .active {
    width: 15px;
    height: 15px;
    background-color: #007798;
}

table{
    width: 90%;
    font-family: roboto;
}
table td, table th{
    border: 2px solid #007798;
    text-align: center;
    padding: 5px 10px;
}
table th{
    color: #007798;
    background: #659B7B;
}
.iframeTube{
    width: 80vw;
    height:  Calc(80vw * 315/560);
    max-width:40em;
    max-height: Calc(40em * 315/560);
}
.btn{
    width: 287px;
    height: 56px;
    display: block;
    float: left;
    margin-right: 15px;
    margin-bottom: 30px;
}
.painel-bt1{background: url('../objetos/bt_1.png') no-repeat;}
.painel-bt1:hover{background: url('../objetos/bt_1_hover.png') no-repeat;}
.painel-bt2{background: url('../objetos/bt_2.png') no-repeat;}
.painel-bt2:hover{background: url('../objetos/bt_2_hover.png') no-repeat;}
.painel-bt3{background: url('../objetos/bt_3.png') no-repeat;}
.painel-bt3:hover{background: url('../objetos/bt_3_hover.png') no-repeat;}
.painel-bt4{background: url('../objetos/bt_4.png') no-repeat;}
.painel-bt4:hover{background: url('../objetos/bt_4_hover.png') no-repeat;}
.painel-bt5{background: url('../objetos/bt_5.png') no-repeat;}
.painel-bt5:hover{background: url('../objetos/bt_5_hover.png') no-repeat;}
.painel-bt6{background: url('../objetos/bt_6.png') no-repeat;}
.painel-bt6:hover{background: url('../objetos/bt_6_hover.png') no-repeat;}
.painel-bt7{background: url('../objetos/bt_7.png') no-repeat;}
.painel-bt7:hover{background: url('../objetos/bt_7_hover.png') no-repeat;}

.painel-bt8{
    background: url('../objetos/bt_acidentes_1.png') no-repeat;
    width: 353px;
    height: 104px;
}
.painel-bt9{
    background: url('../objetos/bt_acidentes_2.png') no-repeat;
    width: 353px;
    height: 104px;
}
.painel-bt10{
    background: url('../objetos/bt_acidentes_3.png') no-repeat;
    width: 353px;
    height: 104px;
}
.bt-simples{
    background: #659B7B;
    color: #fff;
    font-family: roboto;
    border: none;
    padding: 5px 10px;
    margin-bottom: 20px;
    border-radius: 5px;
}
.bt-simples:hover{background: #114149;}
.modal-footer .btn{
    font-family: roboto;
    float: right;
    width: unset;
}
label{display: unset;}
.painel-bt12{
    background: url('../objetos/bt_r_artigo.png') no-repeat;
    width: 168px;
    height: 168px;
}
.painel-bt12:hover{background: url('../objetos/bt_r_artigo_hover.png') no-repeat;}
.painel-bt13{
    background: url('../objetos/bt_r_lei.png') no-repeat;
    width: 168px;
    height: 168px;
}
.painel-bt13:hover{background: url('../objetos/bt_r_lei_hover.png') no-repeat;}
@media screen and (max-width:1366px){
    .img-info{
        max-width: 65%;
    }
    .menu{
        transform-origin: top;
        width: 200vw;
        left: -50vw;
    }
}


@media screen and (max-width:800px){
    .container {
        padding: 1em;
    }

    .container-first {
        margin-top: 0;
    }

    .img-container {
        margin-top: 2em;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .icone-importante .icone-texto {
        bottom: -4%;
    }

    #abas {
        display: flex;

    }

    .nav-tabs li {
        flex-grow: 1;
        margin-left: 0;
        border: 1px solid white;
        border-radius: 0;
    }

    .painel-abas {
        width: 100%;
    }

    .nav-tabs li.active {
        border-bottom: 1px solid white;
    }

    .nav-tabs > li > a {
        border-radius: 0 0 0 0;
        text-align: center;
        padding: 1em 0;
    }

    .tab-content {
        border:none;
        border-radius: 0;
        padding-bottom: 30px;
    }

    .nav-buttons-row .nav-buttons {
        width: 100%;
    }

    .caixa-destaque {
        margin-top: 5em;
        margin-bottom: 5em;
        padding-top: 4em;
    }

    .icone-importante .icone {
        position: absolute;
        left: 65%;
        transform: translateX(-50%);
        top: -15px;
    }

    .nav-btn {
        width: 110px;
        height: 40px;
    }

    .nav-btn img{
        height: 40px;
        width: 110px;
    }

    .nav-buttons .btn {
        height: 40px;
        width: 110px;
        padding:0 0 !important;
    }

    .audio-flex {
        flex-direction: column;
        
    }
    .audio-flex button {
        margin-top: 1.5em;
        margin-bottom: 2em;
    }

    .responsive {
        max-width: 100%;
    }

    .row-audio{
        padding-bottom: 30px;
    }
    .audio-container{
        justify-content: end;
    }

}

@media screen and (max-width:890px) and (orientation:landscape){
    .container{
        padding-left: 3vw; 
        padding-right: 3vw;      
    }
}

@media screen and (max-width:480px){
    .audio-container {
        justify-content: flex-end;
        height: fit-content;
        margin-bottom: 0;
        margin-top: 0;
    }
    .mb-2{
        margin-bottom: 0;
    }
    .audio-img{
        display: block;
        margin: 0 auto;
    }
    .row-audio{
        padding-bottom: 0;
    }
    .painel{    
        transform: scale(0.8);
        margin-left: -75px;
    }


}