/*customizavel, editem esse arquivo*/
.popUpContainer{
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 100;
    background-color: rgba(0, 0, 0, .5);
    top: 0;
    left: 0;
}
.popUpContainer .positioner{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.popUpMessage{
    background-color: lightgoldenrodyellow;
    border: 2px solid darkgoldenrod;
    padding: 10px;
    width: 100%;
    max-width: 350px;
    margin: 10px;  
    border-radius: 10px;  
    box-shadow: 0 0 10px rgba(0, 0, 0, .5);  
}
.popUpMessage .message{
    margin-bottom: 20px;
    text-align: center;
    font-size: 1.2rem;

}
.popUpMessage .btn.btn-warning.center-block{
    max-width: 100px !important;
}
