@font-face {
    font-family: roboto-black;
    src: url("../fonts/Roboto-Black.ttf");
}
@font-face {
    font-family: roboto;
    src: url("../fonts/Roboto-Regular.ttf");
}
p, li, a, td {
    font-family: roboto;
}
h2, h3, h4{
    font-family: roboto-black;
    font-size: 35px;
}
body{
    background: url('../objetos/bg.jpg') no-repeat;
    background-attachment: fixed;
}
.clique{
    font-size: 15px;
    text-align: center;
}
.painel{
    width: 457px;
    height: 245px;
    background: url('../objetos/painel_canvas.png') no-repeat;
    margin: 30px auto;
    position: relative;
}
.painel .bt-tooltip{
    position: absolute;
    background: none;
    border: none;
}
.bt-parcerias{
    width: 85px;
    height: 153px;
    left: 8px;
    top: 6px;
}
.bt-parcerias:hover{background: url('../objetos/canvas1_hover.png') no-repeat;}
.bt-atividades{
    left: 97px;
    top: 6px;
    width: 84px;
    height: 75px;
}
.bt-atividades:hover{background: url('../objetos/canvas2_hover.png') no-repeat;}
.bt-recursos{
    left: 97px;
    top: 84px;
    width: 84px;
    height: 75px;
}
.bt-recursos:hover{background: url('../objetos/canvas3_hover.png') no-repeat;}
.bt-proposta{
    left: 186px;
    top: 6px;
    width: 85px;
    height: 153px;
}
.bt-proposta:hover{background: url('../objetos/canvas4_hover.png') no-repeat;}
.bt-relacionamento{
    right: 98px;
    top: 6px;
    width: 84px;
    height: 75px;
}
.bt-relacionamento:hover{background: url('../objetos/canvas5_hover.png') no-repeat;}
.bt-canais{
    right: 98px;
    top: 84px;
    width: 84px;
    height: 75px;
}
.bt-canais:hover{background: url('../objetos/canvas6_hover.png') no-repeat;}
.bt-segmento{
    right: 8px;
    top: 6px;
    width: 85px;
    height: 153px;
}
.bt-segmento:hover{background: url('../objetos/canvas7_hover.png') no-repeat;}
.bt-estrutura{
    bottom: 7px;
    left: 8px;
    height: 75px;
    width: 206px;
}
.bt-estrutura:hover{background: url('../objetos/canvas8_hover.png') no-repeat;}
.bt-fontes{
    bottom: 7px;
    right: 8px;
    height: 75px;
    width: 230px;
}
.bt-fontes:hover{background: url('../objetos/canvas9_hover.png') no-repeat;}

.bt-modal{
    width: 156px;
    height: 71px;
    margin: 20px auto;
    display: block;
    border: none;
}
.bt-matriz{background: url('../objetos/btn1.png') no-repeat;}
.bt-matriz:hover{background: url('../objetos/btn1_hover.png') no-repeat;}
.bt-plano{background: url('../objetos/btn2.png') no-repeat;}
.bt-plano:hover{background: url('../objetos/btn2_hover.png') no-repeat;}
.bt-metodos{background: url('../objetos/btn3.png') no-repeat;}
.bt-metodos:hover{background: url('../objetos/btn3_hover.png') no-repeat;}

.painel2{
    background: url('../objetos/painel_swot.png') no-repeat;
    width: 270px;
    height: 269px;
    position: relative;
}

.video-responsive{
    width: 640px;
    height: 360px;
}

.selo{margin-top: 200px;}

@media screen and (max-width:480px){
    .video-responsive{
        width: 100%;
        height: 200px;
    }
    .selo{margin-top: 140px !important;}
    .desktop{display: none;}
}

@media screen and (min-width:485px){
    .mobile{display: none;}
}

@media screen and (max-width:770px){
    .video-responsive{
        width: 100%;
        height: 200px;
    }
    .selo{margin-top: 48px;}
}