@font-face {
  font-family: roboto-black;
  src: url("../fonts/Roboto-Black.ttf");
}
@font-face {
  font-family: roboto;
  src: url("../fonts/Roboto-Regular.ttf");
}
p, li, a, td {
  font-family: roboto;
}
h2, h3, h4{
  font-family: roboto-black;
  font-size: 35px;
}
.titulo-regular {
  font-size: 1.3125em;
  color: #2d2d2d;
  line-height: 1.5625em;
}
p{word-wrap: break-word;}
.background-fixed {
  background-image: url(../objetos/bg.jpg);
  width: 100%;
  height: 100%;
  min-height: 100vh;
  position: fixed;
  z-index: 1;
}

.fullcontainer {
  width: 100%;
  position: relative;
}

header.senac {
  height: 80px;
  z-index: 99;
  margin-top: 0;
  top: 0;
  padding-top: 0;
  position: fixed;
  width: 100%;
}
.bt-painel1{
  width: 151px;
  height: 74px;
  display: block;
  margin: 0 auto;
  margin-bottom: 20px;
  border: none;
}
.bt-areadeatuacao{background: url('../objetos/btn1.png') no-repeat;}
.bt-areadeatuacao:hover{background: url('../objetos/btn1_hover.png') no-repeat;}
.bt-portedaempresa{background: url('../objetos/btn2.png') no-repeat;}
.bt-portedaempresa:hover{background: url('../objetos/btn2_hover.png') no-repeat;}
.bt-naturezajuridica{background: url('../objetos/btn3.png') no-repeat;}
.bt-naturezajuridica:hover{background: url('../objetos/btn3_hover.png') no-repeat;}
.bt-tributacao{background: url('../objetos/btn4.png') no-repeat;}
.bt-tributacao:hover{background: url('../objetos/btn4_hover.png') no-repeat;}

.painel2{
  background: url('../objetos/painel.png') no-repeat;
  width: 466px;
  height: 451px;
  margin: 30px auto;
  position: relative;
}
.painel2.primeiro{background: url('../objetos/painel_hover1.png') no-repeat;}
.painel2.segundo{background: url('../objetos/painel_hover2.png') no-repeat;}
.painel2.terceiro{background: url('../objetos/painel_hover3.png') no-repeat;}
.painel2 button{
  position: absolute;
  border: none;
  background: none;
}
.bt-primeirosetor{
  width: 100px;
  height: 185px;
  top: 100px;
}
.bt-segundosetor{
  width: 155px;
  height: 155px;
  top: 10px;
  right: 48px;
}
.bt-terceirosetor{
  bottom: 10px;
  height: 105px;
  width: 180px;
  right: 100px;
}
.bt-individual{background: url('../objetos/btn5.png') no-repeat;}
.bt-individual:hover{background: url('../objetos/btn5_hover.png') no-repeat;}
.bt-mei{background: url('../objetos/btn6.png') no-repeat;}
.bt-mei:hover{background: url('../objetos/btn6_hover.png') no-repeat;}
.bt-eireli{background: url('../objetos/btn7.png') no-repeat;}
.bt-eireli:hover{background: url('../objetos/btn7_hover.png') no-repeat;}
.bt-contrato{background: url('../objetos/btn8.png') no-repeat;}
.bt-contrato:hover{background: url('../objetos/btn8_hover.png') no-repeat;}
.bt-estatuto{background: url('../objetos/btn9.png') no-repeat;}
.bt-estatuto:hover{background: url('../objetos/btn9_hover.png') no-repeat;}

.painel3{
  background: url('../objetos/fig7.png') no-repeat;
  width: 451px;
  height: 253px;
  margin: 30px auto;
  position: relative;
}
.painel3.administracao{background: url('../objetos/fig7_1.png') no-repeat;}
.painel3.recursos{background: url('../objetos/fig7_2.png') no-repeat;}
.painel3.financas{background: url('../objetos/fig7_3.png') no-repeat;}
.painel3.comercial{background: url('../objetos/fig7_4.png') no-repeat;}
.painel3.producao{background: url('../objetos/fig7_5.png') no-repeat;}
.bt-painel3{
  position: absolute;
  width: 135px;
  height: 55px;
  border: none;
  background: none;
}
.bt-administracao{
  top: 45px;
  left: 150px;
}
.bt-recursos{
  top: 105px;
}
.bt-financas{
  bottom: 10px;
  left: 72px;
}
.bt-comercial{
  bottom: 10px;
  right: 92px;
}
.bt-producao{
  right: 0;
  top: 104px;
}

.pagina-conteudo{
  margin-left: 60px;
}


@-webkit-keyframes turning {
  0% {
    -webkit-transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
  }
}

@-moz-keyframes turning {
  0% {
    -moz-transform: rotate(0deg);
  }

  100% {
    -moz-transform: rotate(360deg);
  }
}

@keyframes turning {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.fundo-tecnicos {
  position: relative;
  z-index: 3;
}
.cinza{
  background-color: #DDDDDD;
}


/* BOTOES PARA IMPRIMIR */
.grupo-imprimir {
  width: 180px;
  margin-top: 20px;
  float: right;
  z-index: 10;
  position: relative;
}

@media screen and (min-width: 1500px) {
  .indice {
    position: fixed;
    min-height: 100%;
    max-width: 454px;
    padding: 90px 30px 50px 100px;
    left: 0;
    top: 0;
    background: #f2f2f2;
    z-index: 2;
  }

  .indice ul {
    margin: 0;
    padding: 0;
  }

  .indice ul li {
    list-style: none;
    display: block;
    margin: 0;
    padding: 0;
  }

  .indice ul li a {
    color: #2d2d2d;
    transition: all 0.25s;
    padding-bottom: 4px;
    border-bottom: 4px solid #f2f2f2;
    text-decoration: none !important;
    display: table;
    font-family: roboto;
    font-weight: bold;
    margin: 20px 0;
    cursor: pointer;
  }

  .indice ul li a:hover {
    border-bottom: 4px solid #7ea5c9;
  }
}


@media screen and (min-width: 1280px) and (max-width: 1499px) {
  .indice {
    position: fixed;
    min-height: 100%;
    max-width: 200px;
    padding: 100px 20px;
    left: 0;
    top: 0;
    background: #f2f2f2;;
    z-index: 20;
  }

  .indice ul {
    margin: 0;
    padding: 0;
  }

  .indice ul li {
    list-style: none;
    display: block;
    margin: 0;
    padding: 0;
  }

  .indice ul li a {
    color: #2d2d2d;
    transition: all 0.25s;
    padding-bottom: 4px;
    border-bottom: 4px solid #f2f2f2;
    text-decoration: none !important;
    display: table;
    margin: 20px 0;
  }

  .indice ul li a:hover {
    border-bottom: 4px solid #6587a0;
  }

  .pagina-conteudo{
    margin-left: 90px;
  }
}

.labelIndice,
#openMenu {
  display: none;
}

@media screen and (max-width: 1279px) {

  .indiceLista {
    display: none;
  }

  .indiceMobile {
    color: #fff;
  }

  .indice {
    position: fixed;
    /* left: 60%; */
    z-index: 9999;
    top: 0;
    /* border-radius: 5px; */
    width: 100%;
    color: #fff;
    padding: 10px;
    background: #f2f2f2;;
    width: 100%;
    text-align: center;
  }

  .indice ul {
    margin: 0;
    padding: 0;
  }

  .indice ul li {
    list-style: none;
    display: block;
    margin: 0;
    padding: 0;
  }

  .indice ul li a {
    color: #fff;
    margin-bottom: 10px;
    transition: all 0.25s;
    text-align: center;
    text-decoration: none !important;
    display: block;
    padding: 5px;
    background: #4aad77;
  }

  .indice ul li a:hover {
    background: #ba706f;
  }
}

.header-tecnicos {
  padding: 0 10px;
}


@media screen and (max-width: 1300px) {
  .indice .titulo {
    display: none !important;
  }
}

@media screen and (max-width: 560px) {
  .indice {
    width: 100%;
  }

}

@media screen and (max-width: 1820px) and (min-width: 1500px) {
  .fundo-tecnicos {
    margin-left: 430px;
  }
}

a.active {
  color: #7ea5c9 !important;
}

@media screen and (max-width: 800px) {
  .pagina-conteudo{
    margin-left: 0px;
  }
}

@media screen and (max-width: 660px) {
  .painel2{
    transform: scale(0.7);
    height: 450px;
    margin: 0 auto;
    margin-left: -60px;
  }
  .painel3{
    height: 250px;
    margin: 0 auto;
    transform: scale(0.8);
    margin-left: -57px;
  }

}
