@font-face {
    font-family: roboto;
    src: url("../fonts/Roboto-Regular.ttf");
}
p, li, a, td {
    font-family: roboto;
}
@font-face {
    font-family: 'varela';
    src: url("../fonts/VarelaRound-Regular.ttf");
}

h2, h3, h4, h5{
    font-family: varela;
}
body{
    background: url('../objetos/bg_pattern.jpg') repeat;
    background-attachment: fixed;
}
.clique{
    font-size: 15px;
    text-align: center;
}
.destaque{
    background: #eef1f7;
    padding: 2em;
    margin: 0.9em;
    border-radius: 1em;
}
.bt-modal{
    width: 156px;
    height: 71px;
    display: block;
    margin: 20px auto;
    border: none;
}
.bt-artigo52{background: url('../objetos/btn1.png') no-repeat;}
.bt-artigo52:hover{background: url('../objetos/btn1_hover.png') no-repeat;}
.bt-artigo4{background: url('../objetos/btn2.png') no-repeat;}
.bt-artigo4:hover{background: url('../objetos/btn2_hover.png') no-repeat;}