@font-face {
    font-family: roboto-black;
    src: url("../fonts/Roboto-Black.ttf");
}
@font-face {
    font-family: roboto;
    src: url("../fonts/Roboto-Regular.ttf");
}
p, li, a, td {
    font-family: roboto;
}
h2, h3, h4{
    font-family: roboto-black;
    font-size: 35px;
}
body{
    background: url('../objetos/bg_pattern.png') repeat;
    background-attachment: fixed;
}
.clique{
    font-size: 15px;
    text-align: center;
}
.bt-painel{
    width: 235px;
    height: 231px;
    margin: 20px auto;
    display: block;
    border: none;
}
.bt-gestao{background: url('../objetos/btn1.png') no-repeat;}
.bt-gestao:hover{background: url('../objetos/btn1_hover.png') no-repeat;}
.bt-logistica{background: url('../objetos/btn2.png') no-repeat;}
.bt-logistica:hover{background: url('../objetos/btn2_hover.png') no-repeat;}
.bt-financas{background: url('../objetos/btn3.png') no-repeat;}
.bt-financas:hover{background: url('../objetos/btn3_hover.png') no-repeat;}
.bt-marketing{background: url('../objetos/btn4.png') no-repeat;}
.bt-marketing:hover{background: url('../objetos/btn4_hover.png') no-repeat;}
.bt-vendas{background: url('../objetos/btn5.png') no-repeat;}
.bt-vendas:hover{background: url('../objetos/btn5_hover.png') no-repeat;}
.bt-juridico{background: url('../objetos/btn6.png') no-repeat;}
.bt-juridico:hover{background: url('../objetos/btn6_hover.png') no-repeat;}

.carousel{
    width: 750px;
    display: block;
    margin: 10px auto 50px auto;
}
.carousel .carousel-control{
    width: 61px;
    height: 61px;
    top: 30%;
}
.carousel .carousel-control.left{background: url('../objetos/slideshow_anterior.png') no-repeat;}
.carousel .carousel-control.left:hover{background: url('../objetos/slideshow_anterior_hover.png') no-repeat;}
.carousel .carousel-control.right{background: url('../objetos/slideshow_proximo.png') no-repeat;}
.carousel .carousel-control.right:hover{background: url('../objetos/slideshow_proximo_hover.png') no-repeat;}
.carousel-indicators{
    bottom: -55px;
}
.carousel-indicators li{
    border-color: #007798;
}
.carousel-indicators .active{
    background: #007798;
    border-color: #007798;
}
@media screen and (max-width:800px){
    .carousel{
        width: 100%;
    }
}
@media screen and (max-width:480px){
    .carousel .carousel-control{
        width: 40px;
        height: 40px;
        top: 40%;
    }
    .carousel .carousel-control.left{background-size: 100%;}
    .carousel .carousel-control.left:hover{background-size: 100%;}
    .carousel .carousel-control.right{background-size: 100%;}
    .carousel .carousel-control.right:hover{background-size: 100%;}
}